# KDE Config File
[Desktop Entry]
Type=Application
Exec=kdebugsettings
GenericName=Debug settings
GenericName[ca]=Depuració de l'arranjament
GenericName[cs]=Nastavení ladění
GenericName[nl]=Debug-instellingen
GenericName[pt]=Configuração da depuração
GenericName[pt_BR]=Configurações de depuração
GenericName[sk]=Nastavenie ladenia
GenericName[sv]=Felsökningsinställningar
GenericName[uk]=Параметри діагностики
GenericName[x-test]=xxDebug settingsxx
Terminal=false
Name=KDebug Settings
Name[ca]=KDebug Settings
Name[cs]=Nastavení KDebug
Name[nl]=Instellingen voor KDebug
Name[pt]=Configuração do KDebug
Name[pt_BR]=Configurações do KDebug
Name[sk]=Nastavenia KDebug
Name[sv]=Inställning av KDebug
Name[uk]=Параметри KDebug
Name[x-test]=xxKDebug Settingsxx
X-DBUS-StartupType=Unique
Categories=Qt;KDE;
X-DBUS-ServiceName=org.kde.kdebugsettings
