# KDE Config File
[Desktop Entry]
Type=Application
Exec=kdebugsettings
GenericName=Debug settings
GenericName[ast]=Axustes de depuración
GenericName[ca]=Depuració de l'arranjament
GenericName[ca@valencia]=Depuració de l'arranjament
GenericName[cs]=Nastavení ladění
GenericName[da]=Debug-indstillinger
GenericName[de]=Debug-Einstellungen
GenericName[el]=Ρυθμίσεις αποσφαλμάτωσης
GenericName[en_GB]=Debug settings
GenericName[es]=Preferencias de depuración
GenericName[et]=Silumise seadistused
GenericName[eu]=Arazte-ezarpenak
GenericName[fi]=Virheenpaikannusasetukset
GenericName[fr]=Paramètres de débogage
GenericName[gl]=Configuración de depuración
GenericName[hu]=Hibakeresési beállítások
GenericName[it]=Impostazioni di debug
GenericName[ko]=디버그 설정
GenericName[nl]=Debug-instellingen
GenericName[nn]=Feilsøkingsinnstillingar
GenericName[pl]=Ustawienia diagnostyczne
GenericName[pt]=Configuração da depuração
GenericName[pt_BR]=Configurações de depuração
GenericName[ru]=Настройка отладки
GenericName[sk]=Nastavenie ladenia
GenericName[sl]=Nastavitve razhroščevanja
GenericName[sr]=Исправљачке поставке
GenericName[sr@ijekavian]=Исправљачке поставке
GenericName[sr@ijekavianlatin]=Ispravljačke postavke
GenericName[sr@latin]=Ispravljačke postavke
GenericName[sv]=Felsökningsinställningar
GenericName[tr]=Hata Ayıklama ayarları
GenericName[uk]=Параметри діагностики
GenericName[x-test]=xxDebug settingsxx
GenericName[zh_CN]=调试设置
GenericName[zh_TW]=除錯設定
Terminal=false
Name=KDebugSettings
Name[ast]=KDebugSettings
Name[ca]=KDebugSettings
Name[ca@valencia]=KDebugSettings
Name[cs]=Nastavení KDebug
Name[da]=KDebugSettings
Name[de]=KDebugSettings
Name[el]=KDebugSettings
Name[en_GB]=KDebugSettings
Name[es]=KDebugSettings
Name[et]=KDebugSettings
Name[eu]=KDebugSettings
Name[fi]=KDebugSettings
Name[fr]=KDebugSettings
Name[gl]=KDebugSettings
Name[it]=KDebugSettings
Name[ko]=KDebugSettings
Name[nl]=KDebugSettings
Name[nn]=KDebugSettings
Name[pl]=KDebugSettings
Name[pt]=KDebugSettings
Name[pt_BR]=Configurações do KDebug
Name[ru]=KDebugSettings
Name[sk]=KDebugSettings
Name[sl]=KDebugSettings
Name[sr]=Поставке КДЕ исправљања
Name[sr@ijekavian]=Поставке КДЕ исправљања
Name[sr@ijekavianlatin]=Postavke KDE ispravljanja
Name[sr@latin]=Postavke KDE ispravljanja
Name[sv]=Inställning av KDebug
Name[tr]=KDebugAyarları
Name[uk]=KDebugSettings
Name[x-test]=xxKDebugSettingsxx
Name[zh_CN]=KDebugSettings
Name[zh_TW]=KDebug 設定
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.kdebugsettings
Hidden=true
