# KDE Config File
[Desktop Entry]
Type=Application
Exec=kdebugsettings
GenericName=Debug settings
GenericName[ca]=Depuració de l'arranjament
GenericName[ca@valencia]=Depuració de l'arranjament
GenericName[cs]=Nastavení ladění
GenericName[de]=Debug-Einstellungen
GenericName[en_GB]=Debug settings
GenericName[es]=Preferencias de depuración
GenericName[fi]=Vianjäljitysasetukset
GenericName[gl]=Configuración de depuración
GenericName[it]=Impostazioni di debug
GenericName[ko]=디버그 설정
GenericName[nl]=Debug-instellingen
GenericName[pl]=Ustawienia diagnostyczne
GenericName[pt]=Configuração da depuração
GenericName[pt_BR]=Configurações de depuração
GenericName[ru]=Настройка отладки
GenericName[sk]=Nastavenie ladenia
GenericName[sl]=Nastavitve razhroščevanja
GenericName[sr]=Исправљачке поставке
GenericName[sr@ijekavian]=Исправљачке поставке
GenericName[sr@ijekavianlatin]=Ispravljačke postavke
GenericName[sr@latin]=Ispravljačke postavke
GenericName[sv]=Felsökningsinställningar
GenericName[tr]=Hata Ayıklama ayarları
GenericName[uk]=Параметри діагностики
GenericName[x-test]=xxDebug settingsxx
GenericName[zh_CN]=调试设置
GenericName[zh_TW]=除錯設定
Terminal=false
Name=KDebug Settings
Name[ca]=KDebug Settings
Name[ca@valencia]=KDebug Settings
Name[cs]=Nastavení KDebug
Name[de]=KDebug-Einstellungen
Name[en_GB]=KDebug Settings
Name[es]=Preferencias de KDebug
Name[fi]=KDebug-asetukset
Name[gl]=Configuración de KDebug
Name[it]=KDebugSettings
Name[ko]=KDebug 설정
Name[nl]=Instellingen voor KDebug
Name[pl]=Ustawienia KDebug
Name[pt]=Configuração do KDebug
Name[pt_BR]=Configurações do KDebug
Name[ru]=KDebugSettings
Name[sk]=Nastavenia KDebug
Name[sl]=Nastavitve KDebug
Name[sr]=Поставке КДЕ исправљања
Name[sr@ijekavian]=Поставке КДЕ исправљања
Name[sr@ijekavianlatin]=Postavke KDE ispravljanja
Name[sr@latin]=Postavke KDE ispravljanja
Name[sv]=Inställning av KDebug
Name[tr]=KDebug Ayarları
Name[uk]=Параметри KDebug
Name[x-test]=xxKDebug Settingsxx
Name[zh_CN]=K 调试设置
Name[zh_TW]=KDebug 設定
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.kdebugsettings
