# KDE Config File
[Desktop Entry]
Type=Application
Exec=kdebugsettings
GenericName=Debug settings
GenericName[az]=Sazlama ayarları
GenericName[ca]=Configuració de la depuració
GenericName[ca@valencia]=Configureu la depuració
GenericName[cs]=Nastavení ladění
GenericName[da]=Debug-indstillinger
GenericName[de]=Debug-Einstellungen
GenericName[el]=Ρυθμίσεις αποσφαλμάτωσης
GenericName[en_GB]=Debug settings
GenericName[eo]=Agordoj por sencimigo
GenericName[es]=Preferencias de depuración
GenericName[et]=Silumise seadistused
GenericName[eu]=Arazte-ezarpenak
GenericName[fi]=Virheenpaikannusasetukset
GenericName[fr]=Paramètres de débogage
GenericName[gl]=Configuración de depuración
GenericName[hu]=Hibakeresési beállítások
GenericName[ia]=Preferentias de debug
GenericName[it]=Impostazioni di debug
GenericName[ka]=გამართვის მორგება
GenericName[ko]=디버그 설정
GenericName[nl]=Debug-instellingen
GenericName[nn]=Feilsøkingsinnstillingar
GenericName[pl]=Ustawienia diagnostyczne
GenericName[pt]=Configuração da depuração
GenericName[pt_BR]=Configurações de depuração
GenericName[ro]=Configurări depanare
GenericName[ru]=Настройка отладки
GenericName[sk]=Nastavenie ladenia
GenericName[sl]=Nastavitve razhroščevanja
GenericName[sr]=Исправљачке поставке
GenericName[sr@ijekavian]=Исправљачке поставке
GenericName[sr@ijekavianlatin]=Ispravljačke postavke
GenericName[sr@latin]=Ispravljačke postavke
GenericName[sv]=Felsökningsinställningar
GenericName[tr]=Hata ayıklama ayarları
GenericName[uk]=Параметри діагностики
GenericName[x-test]=xxDebug settingsxx
GenericName[zh_CN]=调试设置
GenericName[zh_TW]=除錯設定
Name=KDebugSettings
Name[ast]=KDebugSettings
Name[az]=KDebugSettings
Name[ca]=KDebugSettings
Name[ca@valencia]=KDebugSettings
Name[cs]=Nastavení KDebug
Name[da]=KDebugSettings
Name[de]=KDebugSettings
Name[el]=KDebugSettings
Name[en_GB]=KDebugSettings
Name[eo]=KDebugSettings
Name[es]=KDebugSettings
Name[et]=KDebugSettings
Name[eu]=KDebugSettings
Name[fi]=KDebugSettings
Name[fr]=KDebugSettings
Name[gl]=KDebugSettings
Name[hu]=KDebugSettings
Name[ia]=KDebugSettings
Name[it]=KDebugSettings
Name[ka]=KDebugSettings
Name[ko]=KDebugSettings
Name[nl]=KDebugSettings
Name[nn]=KDebugSettings
Name[pl]=KDebugSettings
Name[pt]=KDebugSettings
Name[pt_BR]=Configurações do KDebug
Name[ro]=KDebugSettings
Name[ru]=KDebugSettings
Name[sk]=KDebugSettings
Name[sl]=KDebugSettings
Name[sr]=Поставке КДЕ исправљања
Name[sr@ijekavian]=Поставке КДЕ исправљања
Name[sr@ijekavianlatin]=Postavke KDE ispravljanja
Name[sr@latin]=Postavke KDE ispravljanja
Name[sv]=Inställning av KDebug
Name[tr]=K Hata Ayıklama Ayarları
Name[uk]=KDebugSettings
Name[x-test]=xxKDebugSettingsxx
Name[zh_CN]=KDebugSettings
Name[zh_TW]=KDebug 設定
Comment=Configure debug output from Qt applications
Comment[az]=Sazlama çıxışlarını Qt tətbiqlərindən tənzimləmək
Comment[ca]=Configura la sortida detallada de les aplicacions Qt
Comment[ca@valencia]=Configura l'eixida detallada de les aplicacions Qt
Comment[cs]=Nastavte ladicí výstup z aplikací Qt
Comment[da]=Indstil debug-output fra Qt-programmer
Comment[de]=Einrichtung der Fehlerausgabe von Qt-Anwendungen
Comment[el]=Διαμόρφωση της εξόδου διόρθωσης σφαλμάτων από εφαρμογές Qt
Comment[en_GB]=Configure debug output from Qt applications
Comment[eo]=Agordu sencimigan protokolon de Qt-aplikaĵoj
Comment[es]=Configurar la salida de depuración de las aplicaciones Qt
Comment[et]=Qt rakenduste silumisväljundi seadistamine
Comment[eu]=Konfiguratu Qt aplikazioen arazte-irteera
Comment[fi]=Aseta Qt-sovellusten vianpaikannustuloste
Comment[fr]=Configurer la sortie de débogage des applications Qt
Comment[gl]=Configurar a saída de depuración das aplicacións baseadas en Qt
Comment[hu]=Qt alkalmazások hibakeresési kimenetének beállítása
Comment[ia]=Configura exito de debug ex applicationes de Qt
Comment[it]=Configura l'output di debug delle applicazioni Qt
Comment[ka]=Qt აპლიკაციების გამართვის ინფორმაციის მორგება
Comment[ko]=Qt 앱의 디버그 출력 설정
Comment[nl]=Debuguitvoer uit Qt toepassingen configureren
Comment[nn]=Set opp vising av feilsøkingsdata for Qt-program
Comment[pl]=Ustawienia wyjścia diagnostycznego ze wszystkich aplikacji Qt
Comment[pt]=Configurar o resultado de depuração das aplicações do Qt
Comment[pt_BR]=Configurar o resultado de depuração dos aplicativos Qt
Comment[ro]=Configurează ieșirea depanării de la aplicații Qt
Comment[ru]=Настройка параметров отладки для приложений Qt
Comment[sk]=Nastaviť výstup ladenia z Qt aplikácií
Comment[sl]=Nastavite razhroščevalni izpis iz programov Qt
Comment[sr]=Подешавање исправљачког излаза КуТ програма
Comment[sr@ijekavian]=Подешавање исправљачког излаза КуТ програма
Comment[sr@ijekavianlatin]=Podešavanje ispravljačkog izlaza Qt programa
Comment[sr@latin]=Podešavanje ispravljačkog izlaza Qt programa
Comment[sv]=Anpassa felsökningsutmatning från Qt-program
Comment[tr]=Qt uygulamalarının hata ayıklama çıktılarını yapılandır
Comment[uk]=Налаштовування діагностичних повідомлень програм Qt
Comment[x-test]=xxConfigure debug output from Qt applicationsxx
Comment[zh_CN]=配置 Qt 应用程序的调试输出
Comment[zh_TW]=配置來自 Qt 應用程式的偵錯輸出
Keywords=log;logging;category;categories;journal;logging levels;debug
Keywords[az]=log;logging;category;categories;journal;logging levels;debug;jurnal;jurnalllama;kateqoriyalar;jurnallama səviyyələri;sazlama
Keywords[ca]=registre;enregistrament;categoria;categories;diari;nivells de registre;depuració
Keywords[ca@valencia]=registre;gravació;categoria;categories;diari;nivells de registre;depuració
Keywords[de]=protokoll;fehlersuche
Keywords[el]=log;καταγραφή;κατηγορία;κατηγορίες;χρονικό;επίπεδο καταγραφής;αποσφαλμάτωση
Keywords[en_GB]=log;logging;category;categories;journal;logging levels;debug
Keywords[eo]=protokolo;protokoli;kategorioj;ĵurnalo;protokolniveloj;sencimigi
Keywords[es]=registrar;registro;categoría;categorías;diario;niveles de registro;depuración
Keywords[eu]=egunkaria;erregistratzea;kategoria;kategoriak;egunerokoa;erregistro mailak;araztea
Keywords[fi]=loki;luokka;luokat;journaali;lokitaso;lokitasot;debuggaus;virheenpaikannus;vianjäljitys
Keywords[fr]=se connecter ; connexion ; catégories ; journal ; niveau de journalisation ; débogage
Keywords[gl]=rexistro;categoría;categorías;diario;niveis de rexistro;depuración
Keywords[hu]=napló;naplózás;kategória;kategóriák;napló;naplózási szintek;hibakeresés
Keywords[ia]=log;logging;category;categories;journal;logging levels;debug
Keywords[it]=registro;registrazione;categoria;categorie;journal;livelli di registrazione;debug
Keywords[ka]=log;logging;category;categories;journal;logging levels;debug
Keywords[ko]=log;logging;category;categories;journal;logging levels;debug;로그;분류;저널;디버그
Keywords[nl]=log;loggen;categorie;categorieën;journaal;logniveaus;debug
Keywords[nn]=logg;logging;kategori;kategoriar;journal;loggnivå;debug;feilsøking
Keywords[pl]=dziennik;rejestrowanie;kategoria;kategorie;dziennik;poziomy dziennika;diagnostyka
Keywords[pt]=log;registo;categoria;categorias;diário;níveis de registo;depuração
Keywords[pt_BR]=log;logging;registro;registrar;categoria;categorias;jornal;journal;níveis de logging;níveis de log;níveis de registro;depuração;debug
Keywords[ru]=log;logging;category;categories;journal;logging levels;debug;логирование;журналирование;категории;журнал;уровни сообщений;отладка
Keywords[sk]=log;logovanie;kategória;kategórie;denník;úrovne logovania;ladenie
Keywords[sl]=dnevnik;pisanje dnevnika;kategorija;kategorije;beleženje;nivo beleženja;razhroščevanje
Keywords[sv]=logg;loggning;kategori;kategorier;journal;loggningsnivåer;felsökning
Keywords[tr]=günlük;günlükleme;kategori;kategoriler;jurnal;günlükleme düzeyleri;hata ayıklama;günce
Keywords[uk]=log;logging;category;categories;journal;logging levels;debug;журнал;журналювання;категорія;категорії;рівні журналювання;діагностика
Keywords[x-test]=xxlogxx;xxloggingxx;xxcategoryxx;xxcategoriesxx;xxjournalxx;xxlogging levelsxx;xxdebugxx
Keywords[zh_CN]=log;logging;category;categories;journal;logging levels;debug;日志;记录;分类;类别;日志级别;调试;rizhi;jilu;fenlei;rizhijibie;tiaoshi
Keywords[zh_TW]=log;logging;category;categories;journal;logging levels;debug;除錯
Icon=debug-run
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Development;
X-DBUS-ServiceName=org.kde.kdebugsettings
SingleMainWindow=true
Version=1.5
